
.pulseText {
    font-size: 3rem;
    margin: 20px;
    animation: pulse 1.5s infinite;
    color: #f0c420;
    text-align: center;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

canvas {
    background-color: #222;
    margin-top: 20px;
}

.buttonContainer {
    margin-top: 20px;
    text-align: center;
}

.fadeIn {
    opacity: 0;
    animation: fadeIn 2s forwards;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #f0c420;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}